@charset "utf-8";
@media screen and (min-width:951px) {
/*pc用のcssを記述*/
}
@media only screen and (min-width:326px) and (max-width:950px) {
/*tablet用のcssを記述*/
}
@media screen and (max-width:325px) {
/*スマホ用のcssを記述*/

}


.clear{
  clear:left;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.top-wrapper {
  padding-top:240px;
  text-align: center;
  height:1200px;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  color:#333333;
  font-family: "Nico Moji";
}



header {
  height: 100px;
  width: 100%;
  background-color:rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}


.header-left {
  font-size:24px;
  float: left;
  color:white;
}



li{
  list-style:none;
}



.boxes{
  padding-top:20px;
  
}

.box {
  float: left;
  width: 33%;
  padding-bottom:30px;
  cursor: pointer;
}


.box:active{
  box-shadow:none;
  position:relative;
  top:7px;
}

.box img{
    border-radius:30px;
}

.box-icon{
  position:relative;
}

.box-icon p {
  position:absolute;
  top:98px;
  width:100%;
  color:#333333;
  transform:rotate(45deg);
  font-size:16px;
}

footer {
  height:150px;  
  background-color: black;
  color:white;
  width:100%;
  font-size:24px;
}

  
footer p {
  padding-top:5px;
  padding-bottom:5px;
}
